<div class="container">
  <h2>Hello World @ViewData["Email"]</h2>
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" value="@ViewData["Email"]" placeholder="Enter email" name="email">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
